.AddBox {
  display: flex;
  justify-content: center;
  background-color: #525955;
  text-align: center;
  max-width: 240px;
  max-height: 240px;
  border: 1px solid black;
  border-radius: 5px
}

svg:hover {
  color: #eeeeeb;
  
}