:root {
  --main: #ababbc;
  --darkAccent: #bcabb4;
  --lightAccent: #bcbcab;
  --contrast: #abbcb3;
  --white: white;
  --lightContrast: lighten(#ABBCB3, 50%);
  box-sizing: border-box;

}

body {
  max-width: 95%;
  margin: 0 auto;
  background: var(--main);
}

