





/* Using the color scheme from colorhunt 
- https://colorhunt.co/palette/213056 */
:root {
  --primary-font-color: #bedbbb;
  --secondary-font-color: #8db596;
  --primary-background-color: rgba(255,255,255,0.8);
  --secondary-bg: rgba(0, 0, 0, 0.8);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 1em;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--primary-background-color);
}

input,
label {
  display: block;
  width: 80%;
}

section ul {
  border: 1px solid red;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: .5rem 0
}

section ul li {
  padding-left: .5rem;
}

h3 {
  padding: 1rem;
}
